[Desktop Entry]
Categories=Development;
Encoding=UTF-8
Version=1.0
Type=Application
Name=Brisa Binary Light
Exec=/usr/bin/brisabinarylight
Icon=lighticon
Categories=Brisa;