[Desktop Entry]
Categories=Development;
Encoding=UTF-8
Version=1.0
Type=Application
Name=Brisa Light Switcher
Exec=/usr/bin/brisalightswitcher
Icon= lightswitcher
Categories=Brisa;
